<!DOCTYPE html>
<html lang="en">
      <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
<head>
    <style>
    h1 {text-align: center}
    </style>
    <meta charset="UTF-8">
    <title>Mega balance app</title>
</head>
<h1 style=center">Show me the money!!!!</h1>
<body>

      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
      </nav>
      <div class='container'>
      <span><a href="/category/" role="button">Add category</a></span>
      <span><a href="/expenses/" role="button">Add expenses</a></span>
      <span><a href="/stats/" role="button">Show my balance</a></span>
      <div>
          {% for c in categories %}

                {{c}}

          {% endfor %}
      </div>


</body>
</html>